:host {
  /* TODO: update all colors using color-mix() to a synced color - currently they come from Figma as a flat hex color */
  --color: var(--gup-color-brand-medium);
  --gup-icon--fill-color: var(--gup-color-brand-contrast);
  --hover-overlay-background-image: linear-gradient(
    0deg,
    var(--gup-color-states-primary-hover) 0%,
    var(--gup-color-states-primary-hover) 100%
  );
  --active-overlay-background-color: color-mix(in srgb, var(--gup-color-states-primary-active) 90%, transparent);

  display: inline-block;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gup-component-4);
  border: 1px solid var(--border-color, transparent);
  border-radius: var(--gup-radius-button);
  padding-block: calc(var(--unit) * 2);
  padding-inline: var(--gup-component-5);
  line-height: var(--line-height-500);
  text-align: center;
  font-size: var(--font-size-400);
  color: var(--color);
  background: var(--background);

  /* &:focus {
    @mixin focus-outline;
  } */

  /* Note when using focus-visible the focus won't work when set programmatically through focus() method */

  @mixin focus-visible;
}

:host(:not([disabled]):hover) {
  &:host([appearance="primary"]) {
    --background: var(--hover-overlay-background-image), var(--gup-color-brand-medium);
  }

  &:host([appearance="secondary"]) {
    --border-color: transparent;
    --background: var(--gup-color-brand-medium);
    --color: var(--gup-color-brand-contrast);
  }

  &:host([appearance="text"]) {
    --background: var(--gup-color-states-secondary-hover);
  }

  &:host([appearance="danger"]) {
    --background: var(--hover-overlay-background-image), var(--gup-color-negative-medium);
  }
}

.label {
  @mixin screenreader-text;
}

:host([appearance="primary"]) {
  --background: var(--gup-color-brand-medium);
  --color: var(--gup-color-neutral-contrast);
}

:host([appearance="secondary"]) {
  --gup-icon--fill-color: var(--color);
  --background: transparent;
  --border-color: var(--gup-color-brand-xhigh);
  --color: var(--gup-color-brand-xhigh);
}

:host([appearance="text"]) {
  --gup-icon--fill-color: var(--gup-color-brand-default);
  --color: var(--gup-color-brand-xhigh);

  .button {
    text-decoration: var(--gup-button--underline, underline);
    text-underline-offset: 2px;
  }
}

:host([appearance="danger"]) {
  --color: var(--gup-color-neutral-contrast);
  --background: var(--gup-color-negative-medium);
}

:host([with-icon-only]) .button {
  padding: var(--gup-spacing-between-items);
  border-radius: 51%;
}

:host([disabled]) {
  --gup-icon--fill-color: var(--gup-color-states-disabled-medium);
  --background: var(--gup-color-states-disabled-low);
  --color: var(--gup-color-states-disabled-medium);
  --border-color: transparent;

  .button {
    pointer-events: none;
  }

  &:host([appearance="text"]) .button {
    text-decoration: none;
  }
}

:host([inverted]) {
  --color: var(--gup-color-neutral-contrast);

  &:host([appearance="primary"]) {
    --gup-icon--fill-color: var(--gup-color-neutral-xhigh);
    --background: var(--gup-color-neutral-contrast);
    --color: var(--gup-color-neutral-xhigh);
  }

  &:host([appearance="secondary"]) {
    --border-color: var(--gup-color-neutral-contrast);
    --background: var(--gup-color-neutral-contrast);
  }
}

:host([inverted]:not([disabled]):hover) {
  &:host([appearance="primary"]),
  &:host([appearance="secondary"]) {
    --background: color-mix(in srgb, var(--gup-color-states-inverted-primary-hover) 80%, transparent);
  }

  &:host([appearance="text"]) {
    --background: color-mix(in srgb, var(--gup-color-states-primary-hover) 26%, transparent);
  }
}

.button:active {
  :host([appearance="primary"]) &,
  :host([appearance="secondary"]) & {
    --background: color-mix(in srgb, var(--gup-color-brand-medium), var(--active-overlay-background-color));
  }

  :host([appearance="secondary"]) & {
    --color: var(--gup-color-brand-contrast);
  }

  :host([appearance="text"]) & {
    --background: color-mix(in srgb, var(--gup-color-states-secondary-active) 18%, transparent);
  }

  :host([appearance="danger"]) & {
    --background: color-mix(in srgb, var(--gup-color-negative-medium), color-mix(in srgb, var(--gup-color-states-primary-active) 70%, transparent));
  }

  :host([appearance="primary"][inverted]) &,
  :host([appearance="secondary"][inverted]) & {
    --background: color-mix(in srgb, var(--gup-color-states-inverted-primary-active) 60%, transparent);
  }

  :host([appearance="text"][inverted]) & {
    --background: color-mix(in srgb, var(--gup-color-states-inverted-secondary-active) 70%, transparent);
  }
}
