<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Gov.om Templates</title>


    @* Add GUPBlazor required styles and meta tags *@
    <GUPHTMLHeader />



    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    
    @* Add GUPBlazor required scripts and footer content *@
    <GUPHTMLFooter />

</body>

</html>
